@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif !important;
}

html body.page_index header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
html body.page_index header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_index header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 200;
  color: white;
  padding: 12px;
  z-index: 1000;
}
html body.page_index header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
}
html body.page_index .bg-light {
  --bs-bg-opacity: 1;
  background-color: transparent;
}
html body.page_index .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: white;
  text-decoration: none;
  margin-right: 9;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
html body.page_index .container {
  margin-top: 0%;
  background-color: black;
}
html body.page_index .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_index .navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: transparent;
  --bs-navbar-hover-color: white;
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: white;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 50;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba%2833, 37, 41, 0.75%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
html body.page_index .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  border-block-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
html body.page_index .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_index #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  width: 100%;
  height: 50%;
  color: white;
  background-image: url(../imagenes/backG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  html body.page_index html body.page_index #hero-half {
    display: flex;
    flex-direction: row;
    justify-self: left;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50%;
    color: white;
    background-color: #dc3545;
    background-image: url(../imagenes/footer.jpg), url(../imagenes/SeeLamps.jpg);
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 50%, 100% 50%;
  }
}
html body.page_index #hero-half {
  display: flex;
  flex-direction: row;
  justify-self: left;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 50%;
  color: white;
  background-color: #dc3545;
  background-image: url(../imagenes/footer.jpg), url(../imagenes/SeeLamps.jpg);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 50%;
}
html body.page_index #hero-half h1 {
  font-size: 80px;
  font-weight: 400;
}
html body.page_index #hero-half a {
  margin-left: 17%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
html body.page_index footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: black;
}
html body.page_index footer h4 {
  color: white;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_about {
  background-image: url(../imagenes/FaroNO.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
html body.page_about header {
  /* Eliminado */
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_about header ul {
  /* Eliminado */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_about header .list-menu a {
  /* Ajustado */
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_about header .logo a {
  /* Eliminado */
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  /* Eliminado */
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_about #heroAbout h1 {
  /* Ajustado */
  justify-self: center;
  align-items: left;
  font-size: 120px;
  font-weight: 600;
  margin-top: 90px;
  margin-right: 600px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
html body.page_about #heroAbout p {
  /* Ajustado */
  justify-self: center;
  align-items: left;
  font-size: 40px;
  margin-top: 120px;
  color: white;
  text-align: center;
}
html body.page_about html, html body.page_about body {
  overflow-x: hidden;
  overflow-y: hidden;
}
html body.page_about footer {
  width: 100%;
  height: 0%;
  margin-bottom: 0;
  background-color: black;
  position: fixed;
  bottom: 50;
}
html body.page_about footer h4 {
  color: white;
  font-size: 50;
  font-weight: 100;
  bottom: 0;
  width: 100%;
  height: 50px; /* Ajusta la altura según tus necesidades */
  text-align: center;
}

html body.page_shop header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_shop header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_shop header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_shop header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_shop #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(../imagenes/bombilla1_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html body.page_shop .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: white;
  text-decoration: none;
  margin-right: 9;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
html body.page_shop .container {
  background-color: black;
}
html body.page_shop .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_shop .navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: transparent;
  --bs-navbar-hover-color: white;
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 50;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba%2833, 37, 41, 0.75%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
html body.page_shop .navbar .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  border-block-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
html body.page_shop .navbar .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_shop #hero h1 {
  justify-self: center;
  align-items: center;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 12px;
  color: white;
}
html body.page_shop footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: black;
}
html body.page_shop footer h4 {
  color: white;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_contact {
  background-image: url(../imagenes/contacNew.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
html body.page_contact header {
  z-index: 100000000;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_contact header ul {
  z-index: 100000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_contact header .list-menu a {
  z-index: 100000000;
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 200;
  color: white;
  padding: 12px;
}
html body.page_contact header .logo a {
  z-index: 100000000;
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_contact #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
html body.page_contact #hero h1 {
  justify-self: center;
  align-items: center;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: 50px;
  color: white;
}
html body.page_contact #hero p {
  font-size: 20px;
  font-weight: 400;
  margin-left: 170px;
  margin-top: 20px;
}
html body.page_contact .contenedor {
  position: absolute;
  display: contents;
  transform: translate(-50%, -50%);
}
html body.page_contact form label {
  color: white;
  font-size: 50px;
  font-weight: 100;
}
html body.page_contact form input {
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 200;
  width: 270px;
}
html body.page_contact .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 100;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
html body.page_contact footer {
  width: 100%;
  height: 7%;
  position: fixed;
  bottom: 0;
  background-color: black;
}
html body.page_contact footer h4 {
  color: white;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_works header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_works header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_works header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_works header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_works #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  height: 100%;
  background-image: url(../imagenes/madera1_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html body.page_works #hero h1 {
  justify-self: center;
  align-items: left;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 70px;
  margin-right: 770px;
  color: white;
}
html body.page_works #hero p {
  justify-self: left;
  align-items: left;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 70px;
  margin-left: 300px;
  color: white;
}
html body.page_works footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: black;
}
html body.page_works footer h4 {
  color: white;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
