@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif !important;
}

html body.page_index header {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_index header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_index header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_index header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_index .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 200;
  width: 100%;
}
html body.page_index .position-relative {
  position: relative;
}
html body.page_index .col-4 img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  html body.page_index .col-4 img {
    width: 100%;
    height: 100%;
  }
}
html body.page_index .bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
html body.page_index .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: white;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
}
html body.page_index .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_index .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 50;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_index #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  height: 100%;
  background-image: url(../imagenes/SeeLamps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
html body.page_index #hero h1 {
  justify-self: center;
  align-items: left;
  font-size: 120px;
  font-weight: 200;
  margin-bottom: 200px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_index #hero h1 {
    font-size: 70px;
    margin-bottom: 300px;
  }
}
html body.page_index #hero p {
  justify-self: left;
  align-items: left;
  font-size: 59px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 28px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_index #hero p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
  }
}
html body.page_index footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: transparent;
}
html body.page_index footer h4 {
  color: black;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_about header {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_about header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_about header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_about header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_about .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 200;
  width: 100%;
}
html body.page_about .position-relative {
  position: relative;
}
html body.page_about .col-4 img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  html body.page_about .col-4 img {
    width: 100%;
    height: 100%;
  }
}
html body.page_about .bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
html body.page_about .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: white;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
}
html body.page_about .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_about .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 50;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_about #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  height: 100%;
  background-image: url(../imagenes/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
html body.page_about #hero h1 {
  justify-self: center;
  align-items: left;
  font-size: 120px;
  font-weight: 400;
  margin-bottom: 70px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_about #hero h1 {
    font-size: 70px;
    margin-top: 25%;
  }
}
html body.page_about #hero p {
  justify-self: left;
  align-items: left;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 70px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_about #hero p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }
}
html body.page_about footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: transparent;
}
html body.page_about footer h4 {
  color: black;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_shop main {
  background-color: black;
}
html body.page_shop header {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_shop header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_shop header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_shop header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_shop #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(../imagenes/bombilla1_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  html body.page_shop .col-6 {
    width: 100%;
  }
}
html body.page_shop .col-6 img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  html body.page_shop .col-6 img {
    width: 100%;
  }
}
html body.page_shop .color-background {
  background: rgb(255, 0, 112);
  background: radial-gradient(circle, rgb(255, 0, 112) 0%, rgb(0, 243, 255) 100%);
}
html body.page_shop .bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
html body.page_shop .custom-border {
  border: 2px rgb(255, 0, 112);
  border-radius: 5px;
}
html body.page_shop .nav-link-contact {
  display: flex;
  font-size: 30px;
  margin-top: 300px;
  color: white;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  html body.page_shop .nav-link-contact {
    font-size: 15px;
  }
}
html body.page_shop .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: white;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
}
html body.page_shop .centered-text {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 400;
  width: 100%;
  font-size: 100px;
  margin-top: 10%;
}
@media screen and (max-width: 767px) {
  html body.page_shop .centered-text {
    font-size: 200%;
  }
}
html body.page_shop .centered-text-price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-weight: 400;
  width: 100%;
  font-size: 100px;
  border-bottom: black;
}
@media screen and (max-width: 767px) {
  html body.page_shop .centered-text-price {
    font-size: 200%;
  }
}
html body.page_shop .centered-text-contact {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa el 100% de la altura de la ventana gráfica */
}
html body.page_shop .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_shop .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 50;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_shop #hero h1 {
  justify-self: center;
  align-items: center;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 12px;
  color: white;
}
html body.page_shop footer {
  width: 100%;
  background-color: black;
}
html body.page_shop footer h4 {
  color: white;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_contact header {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_contact header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_contact header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_contact header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_contact .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 200;
  width: 100%;
}
html body.page_contact .position-relative {
  position: relative;
}
html body.page_contact .col-4 img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  html body.page_contact .col-4 img {
    width: 100%;
    height: 100%;
  }
}
html body.page_contact .bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
html body.page_contact .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: white;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
}
html body.page_contact .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_contact .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 50;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_contact #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  height: 100%;
  background-image: url(../imagenes/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html body.page_contact #hero h1 {
  justify-self: center;
  align-items: left;
  font-size: 120px;
  font-weight: 400;
  margin-bottom: 70px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_contact #hero h1 {
    font-size: 70px;
  }
}
html body.page_contact #hero p {
  justify-self: left;
  align-items: left;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 70px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_contact #hero p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }
}
html body.page_contact footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: transparent;
}
html body.page_contact footer h4 {
  color: black;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

html body.page_works header {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body.page_works header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
html body.page_works header .list-menu a {
  margin-left: auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 12px;
}
html body.page_works header .logo a {
  justify-content: center;
  text-decoration: none;
  font-size: 47px;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
html body.page_works .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 55px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  html body.page_works .centered-text {
    font-size: 16px;
  }
}
html body.page_works .position-relative {
  position: relative;
}
html body.page_works .col-4 img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  html body.page_works .col-4 img {
    width: 100%;
    height: 100%;
  }
}
html body.page_works .bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
html body.page_works .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: white;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
}
html body.page_works .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  color: white;
}
html body.page_works .navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 50;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
html body.page_works #hero {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  height: 100%;
  background-image: url(../imagenes/MaderaWall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html body.page_works #hero h1 {
  justify-self: center;
  align-items: left;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 70px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_works #hero h1 {
    font-size: 70px;
  }
}
html body.page_works #hero p {
  justify-self: left;
  align-items: left;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 70px;
  color: white;
}
@media screen and (max-width: 767px) {
  html body.page_works #hero p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }
}
html body.page_works footer {
  width: 100%;
  height: 7%;
  margin-bottom: 0;
  background-color: transparent;
}
html body.page_works footer h4 {
  color: black;
  font-size: 50;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
