*{
    margin:0 ;
    padding: 0;
    font-family: 'Urbanist', sans-serif !important;
}
html body.page_index {
    header {
      height: 75px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
  
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
  
      .list-menu a {
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 200;
        color: white;
        padding: 12px;
        z-index: 1000;
      }
  
      .logo a {
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
      }
    }
  
    .bg-light {
      --bs-bg-opacity: 1;
      background-color: transparent;
    }
  
    .nav-link {
      display: block;
      padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
      font-size: var(--bs-nav-link-font-size);
      font-weight: var(--bs-nav-link-font-weight);
      color: white;
      text-decoration: none;
      margin-right: 9;
      background: 0 0;
      border: 0;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
  
    .container {
      margin-top: 0%;
      background-color: black;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
      color: white;
    }
  
    .navbar {
      --bs-navbar-padding-x: 0;
      --bs-navbar-padding-y: 0.5rem;
      --bs-navbar-color: transparent;
      --bs-navbar-hover-color: white;
      --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
      --bs-navbar-active-color: white;
      --bs-navbar-brand-padding-y: 0.3125rem;
      --bs-navbar-brand-margin-end: 1rem;
      --bs-navbar-brand-font-size: 50;
      --bs-navbar-brand-color: white;
      --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
      --bs-navbar-nav-link-padding-x: 0.5rem;
      --bs-navbar-toggler-padding-y: 0.25rem;
      --bs-navbar-toggler-padding-x: 0.75rem;
      --bs-navbar-toggler-font-size: 1.25rem;
      --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
      --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
      --bs-navbar-toggler-border-radius: var(--bs-border-radius);
      --bs-navbar-toggler-focus-width: 0.25rem;
      --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    }
  
    .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-image: var(--bs-navbar-toggler-icon-bg);
      border-block-color: white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  
    .navbar-brand {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      font-size: var(--bs-navbar-brand-font-size);
      color: white;
      text-decoration: none;
      white-space: nowrap;
    }
  
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      justify-content: center;
      font-size: 120px;
      width: 100%;
      height: 50%;
      color: white;
      background-image: url(../imagenes/backG.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @media screen  and (max-width: 768px) {
        html body.page_index #hero-half {
            display: flex;
            flex-direction: row;
            justify-self: left;
            align-items: center;
            justify-content: left;
            width: 100%;
            height: 50%;
            color: white;
            background-color: #dc3545;
            background-image: url(../imagenes/footer.jpg), url(../imagenes/SeeLamps.jpg);
            background-position: center top, center bottom;
            background-repeat: no-repeat, no-repeat;
            background-size: 100% 50%, 100% 50%;
        }
      }
  
    #hero-half {
      display: flex;
      flex-direction: row;
      justify-self: left;
      align-items: center;
      justify-content: left;
      width: 100%;
      height: 50%;
      color: white;
      background-color: #dc3545;
      background-image: url(../imagenes/footer.jpg), url(../imagenes/SeeLamps.jpg);
      background-position: left, right;
      background-repeat: no-repeat, no-repeat;
      background-size: 50%, 50%;
  
      h1 {
        font-size: 80px;
        font-weight: 400;
      }
  
      a {
        margin-left: 17%;
        color: rgb(0, 0, 0);
        text-decoration: none;
      }
    }

  
    footer {
      width: 100%;
      height: 7%;
      margin-bottom: 0;
      background-color: black;
  
      h4 {
        color: white;
        font-size: 50;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

html body.page_about {
    header {
      /* Eliminado */
      height: 75px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      ul {
        /* Eliminado */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
  
      .list-menu a {
        /* Ajustado */
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: white;
        padding: 12px;
      }
  
      .logo a {
        /* Eliminado */
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
  
        /* Eliminado */
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        align-items: center;
        text-decoration: none;
      }
    }
        background-image: url(../imagenes/FaroNO.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    

    #heroAbout{

        

        h1 {
            /* Ajustado */
            justify-self: center;
            align-items: left;
            font-size: 120px;
            font-weight: 600;
            margin-top: 90px;
            margin-right: 600px;
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
          }

          p {
            /* Ajustado */
            justify-self: center;
            align-items: left;
            font-size: 40px;
            margin-top: 120px;
            color: white;
            text-align: center;
          }

    }
  
    html, body {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
  
    footer {
      width: 100%;
      height: 0%;
      margin-bottom: 0;
      background-color: black;
      position: fixed; // Fijar el footer en la ventana del navegador
      bottom: 50; 
      
      h4 {
        color: white;
        font-size: 50;
        font-weight: 100;
        bottom: 0;
        width: 100%;
        height: 50px; /* Ajusta la altura según tus necesidades */
        text-align: center; 
      }
    }
  }

html body.page_shop {
    header {
      height: 75px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
  
      .list-menu a {
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: white;
        padding: 12px;
      }
  
      .logo a {
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
  
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        text-decoration: none;
      }
    }
  
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      background-image: url(../imagenes/bombilla1_2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .nav-link {
      display: block;
      padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
      font-size: var(--bs-nav-link-font-size);
      font-weight: var(--bs-nav-link-font-weight);
      color: white;
      text-decoration: none;
      margin-right: 9;
      background: 0 0;
      border: 0;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
  
    .container {
      background-color: black;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
      color: white;
    }
  
    .navbar {
      --bs-navbar-padding-x: 0;
      --bs-navbar-padding-y: 0.5rem;
      --bs-navbar-color: transparent;
      --bs-navbar-hover-color: white;
      --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
      --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
      --bs-navbar-brand-padding-y: 0.3125rem;
      --bs-navbar-brand-margin-end: 1rem;
      --bs-navbar-brand-font-size: 50;
      --bs-navbar-brand-color: white;
      --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
      --bs-navbar-nav-link-padding-x: 0.5rem;
      --bs-navbar-toggler-padding-y: 0.25rem;
      --bs-navbar-toggler-padding-x: 0.75rem;
      --bs-navbar-toggler-font-size: 1.25rem;
      --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
      --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
      --bs-navbar-toggler-border-radius: var(--bs-border-radius);
      --bs-navbar-toggler-focus-width: 0.25rem;
      --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  
      .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        border-block-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
  
      .navbar-brand {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: var(--bs-navbar-brand-margin-end);
        font-size: var(--bs-navbar-brand-font-size);
        color: white;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  
    #hero h1 {
      justify-self: center;
      align-items: center;
      font-size: 120px;
      font-weight: 600;
      margin-bottom: 12px;
      color: white;
    }
  
    footer {
      width: 100%;
      height: 7%;
      margin-bottom: 0;
      background-color: black;
      
      h4 {
        color: white;
        font-size: 50;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

html body.page_contact {
    header {
      z-index: 100000000;
      height: 75px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      ul {
        z-index: 100000000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
  
      .list-menu a {
        z-index: 100000000;
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 200;
        color: white;
        padding: 12px;
      }
  
      .logo a {
        z-index: 100000000;
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
  
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        text-decoration: none;
      }

    }
    background-image: url(../imagenes/contacNew.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
  
      h1 {
        justify-self: center;
        align-items: center;
        font-size: 120px;
        font-weight: 600;
        margin-bottom: 12px;
        margin-left: 50px;
        color: white;
      }
  
      p {
        font-size: 20px;
        font-weight: 400;
        margin-left: 170px;
        margin-top: 20px;
      }
    }
  
    .contenedor {
      position: absolute;
      display: contents;
      transform: translate(-50%, -50%);
    }
  
    form label {
      color: white;
      font-size: 50px;
      font-weight: 100;
    }
  
    form input {
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 20px;
      font-weight: 200;
      width: 270px;
    }
  
    overflow-x: hidden;
    

    

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 100;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    footer {
      width: 100%;
      height: 7%;
      position: fixed;
      bottom: 0;
      background-color: black;
      
      h4 {
        color: white;
        font-size: 50;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

html body.page_works {
    header {
      height: 75px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
  
      .list-menu a {
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: white;
        padding: 12px;
      }
  
      .logo a {
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
  
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        text-decoration: none;
      }
    }
  
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      height: 100%;
      background-image: url(../imagenes/madera1_2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  
      h1 {
        justify-self: center;
        align-items: left;
        font-size: 120px;
        font-weight: 600;
        margin-bottom: 70px;
        margin-right: 770px;
        color: white;
      }
  
      p {
        justify-self: left;
        align-items: left;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 70px;
        margin-left: 300px;
        color: white;
      }
    }
  
    footer {
      width: 100%;
      height: 7%;
      margin-bottom: 0;
      background-color: black;
  
      h4 {
        color: white;
        font-size: 50;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  } 