*{
    margin:0 ;
    padding: 0;
    font-family: 'Urbanist', sans-serif !important;
}


html body.page_index{
    header {
        height: 75px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style-type: none;
        }
    
        .list-menu a {
          margin-left: auto;
          text-decoration: none;
          font-size: 17px;
          font-weight: 400;
          color: white;
          padding: 12px;
        }
    
        .logo a {
          justify-content: center;
          text-decoration: none;
          font-size: 47px;
          color: white;
          padding: 12px 24px;
          font-weight: 500;
    
          display: flex;
          flex-direction: row;
          justify-content: baseline;
          align-items: center;
          text-decoration: none;
        }
        
      }   
  
      .centered-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;
          font-weight: 200;
          width: 100%;
      }
  
      .position-relative {
          position: relative;
        }
     
      .col-4 img{
          width: 100%;
          height: 100%;
          margin-right: 0;
          margin-left: 0;
          @media screen and (max-width: 767px) {
              width: 100%;
              height: 100%;
          }
      }
      
      .bg-light {
          --bs-bg-opacity: 0;
          background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
      }    
  
      .navbar-toggler-icon {
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          color: white;
          vertical-align: middle;
          background-image: var(--bs-navbar-toggler-icon-bg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          background-color: white;
      }
  
      .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: var(--bs-navbar-nav-link-padding-x);
          padding-left: var(--bs-navbar-nav-link-padding-x);
          color:white;
        }
  
      .navbar-brand {
          padding-top: var(--bs-navbar-brand-padding-y);
          padding-bottom: var(--bs-navbar-brand-padding-y);
          margin-right: var(--bs-navbar-brand-margin-end);
          font-size: 50;
          color: white;
          text-decoration: none;
          white-space: nowrap;
      }
    
      #hero {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
        height: 100%;
        background-image: url(../imagenes/SeeLamps.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        h1 {
          justify-self: center;
          align-items: left;
          font-size: 120px;
          font-weight: 200;
          margin-bottom: 200px;
          color: white;
          @media screen and (max-width: 767px) {
              font-size: 70px;
              margin-bottom: 300px;
          }
        }
  
        p {
          justify-self: left;
          align-items: left;
          font-size: 59px;
          font-weight: 200;
          text-align: center;
          margin-bottom: 28px;
          color: white;
          @media screen and (max-width: 767px) {
              font-size: 20px;
              font-weight: 200;
              text-align: center;
              margin-top: 30px;
          }
        }
      }
    
      footer {
        width: 100%;
        height: 7%;
        margin-bottom: 0;
        background-color: transparent;
    
        h4 {
          color: black;
          font-size: 50;
          font-weight: 100;
          display: flex;
          flex-direction: column;
          justify-self: center;
          align-items: center;
          justify-content: center;
        }
      }
  } 


html body.page_about {
    header {
        height: 75px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style-type: none;
        }
    
        .list-menu a {
          margin-left: auto;
          text-decoration: none;
          font-size: 17px;
          font-weight: 400;
          color: white;
          padding: 12px;
        }
    
        .logo a {
          justify-content: center;
          text-decoration: none;
          font-size: 47px;
          color: white;
          padding: 12px 24px;
          font-weight: 500;
    
          display: flex;
          flex-direction: row;
          justify-content: baseline;
          align-items: center;
          text-decoration: none;
        }
        
      }   
  
      .centered-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;
          font-weight: 200;
          width: 100%;
      }
  
      .position-relative {
          position: relative;
        }
     
      .col-4 img{
          width: 100%;
          height: 100%;
          margin-right: 0;
          margin-left: 0;
          @media screen and (max-width: 767px) {
              width: 100%;
              height: 100%;
          }
      }
      
      .bg-light {
          --bs-bg-opacity: 0;
          background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
      }    
  
      .navbar-toggler-icon {
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          color: white;
          vertical-align: middle;
          background-image: var(--bs-navbar-toggler-icon-bg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          background-color: white;
      }
  
      .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: var(--bs-navbar-nav-link-padding-x);
          padding-left: var(--bs-navbar-nav-link-padding-x);
          color:white;
        }
  
      .navbar-brand {
          padding-top: var(--bs-navbar-brand-padding-y);
          padding-bottom: var(--bs-navbar-brand-padding-y);
          margin-right: var(--bs-navbar-brand-margin-end);
          font-size: 50;
          color: white;
          text-decoration: none;
          white-space: nowrap;
      }
    
      #hero {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
        height: 100%;
        background-image: url(../imagenes/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        h1 {
          justify-self: center;
          align-items: left;
          font-size: 120px;
          font-weight: 400;
          margin-bottom: 70px;
          color: white;
          @media screen and (max-width: 767px) {
              font-size: 70px;
              margin-top: 25%;
          }
        }
  
        p {
          justify-self: left;
          align-items: left;
          font-size: 40px;
          font-weight: 100;
          text-align: center;
          margin-bottom: 70px;
          color: white;
          @media screen and (max-width: 767px) {
              font-size: 20px;
              font-weight: 200;
              text-align: center;
          }
        }
      }
    
      footer {
        width: 100%;
        height: 7%;
        margin-bottom: 0;
        background-color: transparent;
    
        h4 {
          color: black;
          font-size: 50;
          font-weight: 100;
          display: flex;
          flex-direction: column;
          justify-self: center;
          align-items: center;
          justify-content: center;
        }
      }
  }

html body.page_shop {
    main{
        background-color: black;
    }
    header {
      height: 75px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
      
      .list-menu a {
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: white;
        padding: 12px;
      }
  
      .logo a {
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
  
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        text-decoration: none;
      }
    }
  
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      background-image: url(../imagenes/bombilla1_2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .col-6{
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    .col-6 img{
        width: 100%;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        @media screen and (max-width: 767px) {
            width: 100%;
            
        }
    }
    
    .color-background{
        background: rgb(255,0,112);
        background: radial-gradient(circle, rgba(255,0,112,1) 0%, rgba(0,243,255,1) 100%);
    }

    .bg-light {
        --bs-bg-opacity: 0;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    }

    .custom-border{
        border: 2px rgb(255,0,112); 
        border-radius: 5px; 
    }

    .nav-link-contact{
        display: flex;
        font-size: 30px;
        margin-top: 300px;
        color: white;
        justify-content: center;
        @media screen and (max-width: 767px) {
            font-size: 15px;
        }
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        color: white;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: white;
    }

    .centered-text {
        position: absolute;
        top: 9%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-weight: 400;
        width: 100%;
        font-size: 100px;
        margin-top: 10%;
        @media screen and (max-width: 767px) {
            font-size: 200%;
        }
       
    }
    .centered-text-price {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: black;
        font-weight: 400;
        width: 100%;
        font-size: 100px;
        border-bottom: black;
        @media screen and (max-width: 767px) {
            font-size: 200%;
        }
    }
    .centered-text-contact {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 100vh; /* Ocupa el 100% de la altura de la ventana gráfica */
      }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        color:white;
      }

    .navbar-brand {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: var(--bs-navbar-brand-margin-end);
        font-size: 50;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
  
    #hero h1 {
      justify-self: center;
      align-items: center;
      font-size: 120px;
      font-weight: 600;
      margin-bottom: 12px;
      color: white;
    }
  
    footer {
      width: 100%;
      background-color: black;
      h4 {
        color: white;
        font-size: 50;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

  html body.page_contact {
    header {
      height: 75px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
  
      .list-menu a {
        margin-left: auto;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: white;
        padding: 12px;
      }
  
      .logo a {
        justify-content: center;
        text-decoration: none;
        font-size: 47px;
        color: white;
        padding: 12px 24px;
        font-weight: 500;
  
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        text-decoration: none;
      }
      
    }   

    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-weight: 200;
        width: 100%;
    }

    .position-relative {
        position: relative;
      }
   
    .col-4 img{
        width: 100%;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        @media screen and (max-width: 767px) {
            width: 100%;
            height: 100%;
        }
    }
    
    .bg-light {
        --bs-bg-opacity: 0;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    }    

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        color: white;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: white;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        color:white;
      }

    .navbar-brand {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: var(--bs-navbar-brand-margin-end);
        font-size: 50;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }

    
  
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      height: 100%;
      background-image:url(../imagenes/footer.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  
      h1 {
        justify-self: center;
        align-items: left;
        font-size: 120px;
        font-weight: 400;
        margin-bottom: 70px;
        color: white;
        @media screen and (max-width: 767px) {
            font-size: 70px;
        }
      }

      p {
        justify-self: left;
        align-items: left;
        font-size: 40px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 70px;
        color: white;
        @media screen and (max-width: 767px) {
            font-size: 20px;
            font-weight: 200;
            text-align: center;
        }
      }
    }
  
    footer {
      width: 100%;
      height: 7%;
      margin-bottom: 0;
      background-color: transparent;
  
      h4 {
        color: black;
        font-size: 50;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  } 
   

html body.page_works {
    header {
        height: 75px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style-type: none;
        }
    
        .list-menu a {
          margin-left: auto;
          text-decoration: none;
          font-size: 17px;
          font-weight: 400;
          color: white;
          padding: 12px;
        }
    
        .logo a {
          justify-content: center;
          text-decoration: none;
          font-size: 47px;
          color: white;
          padding: 12px 24px;
          font-weight: 500;
    
          display: flex;
          flex-direction: row;
          justify-content: baseline;
          align-items: center;
          text-decoration: none;
        }
        
      }   
  
      .centered-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;
          font-weight: 600;
          font-size: 55px;
          width: 100%;
          @media screen and (max-width: 767px) {
            font-size: 16px;
        }
      }

  
      .position-relative {
          position: relative;
        }
     
      .col-4 img{
          width: 100%;
          height: 100%;
          margin-right: 0;
          margin-left: 0;
          @media screen and (max-width: 767px) {
              width: 100%;
              height: 100%;
          }
      }
      
      .bg-light {
          --bs-bg-opacity: 0;
          background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
      }    
  
      .navbar-toggler-icon {
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          color: white;
          vertical-align: middle;
          background-image: var(--bs-navbar-toggler-icon-bg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          background-color: white;
      }
  
      .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: var(--bs-navbar-nav-link-padding-x);
          padding-left: var(--bs-navbar-nav-link-padding-x);
          color:white;
        }
  
      .navbar-brand {
          padding-top: var(--bs-navbar-brand-padding-y);
          padding-bottom: var(--bs-navbar-brand-padding-y);
          margin-right: var(--bs-navbar-brand-margin-end);
          font-size: 50;
          color: white;
          text-decoration: none;
          white-space: nowrap;
      }
    
      #hero {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
        height: 100%;
        background-image: url(../imagenes/MaderaWall.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        h1 {
          justify-self: center;
          align-items: left;
          font-size: 120px;
          font-weight: 600;
          margin-bottom: 70px;
          color: white;
          @media screen and (max-width: 767px) {
              font-size: 70px;
          }
        }
  
        p {
          justify-self: left;
          align-items: left;
          font-size: 40px;
          font-weight: 100;
          text-align: center;
          margin-bottom: 70px;
          color: white;
          @media screen and (max-width: 767px) {
              font-size: 20px;
              font-weight: 200;
              text-align: center;
          }
        }
      }
    
      footer {
        width: 100%;
        height: 7%;
        margin-bottom: 0;
        background-color: transparent;
    
        h4 {
          color: black;
          font-size: 50;
          font-weight: 100;
          display: flex;
          flex-direction: column;
          justify-self: center;
          align-items: center;
          justify-content: center;
        }
      }
  } 


